<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지원자 정보 수정</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'applicant/applicant_css.css' %}">
</head>
<body>
<div class="detail-container">
    <div class="detail-header">
        정보 수정
    </div>
    <!-- 폼 시작 -->
    <form method="post" action="{% url 'applicant:applicants_modify' applicant_id=applicant.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- form.as_p를 사용하여 나머지 필드를 자동으로 렌더링. -->
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-secondary">저장</button>
    </form>
</div>
</body>
</html>
