<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    {{ applicant.unique_no }}
    {{ applicant.applicant_name }}
    {{ applicant.gender }}
    {{ applicant.nationality }}
    {{ applicant.birth_year }}
    {{ applicant.height }}
    {{ applicant.weight }}
    {{ applicant.chest }}
    {{ applicant.waist }}
    {{ applicant.hips }}
    {{ applicant.languages }}
    {{ applicant.instagram_link }}
    {{ applicant.instagram_id }}
    {{ applicant.application_date }}
    {{ applicant.application_day }}
    {{ applicant.data_completion }}
    {{ applicant.data_check }}
</div>
</body>
</html>
