<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지원자 상세 정보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'applicant/applicant_css.css' %}">
</head>
<body>
<div class="detail-container">
    <div class="detail-header">
        상세 정보
    </div>
    <div class="detail-item">
        <div class="detail-item-title">지원자 고유번호</div>
        <div class="detail-item-content">{{ applicant.unique_no }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">지원자 명</div>
        <div class="detail-item-content">{{ applicant.applicant_name }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">성별</div>
        <div class="detail-item-content">{{ applicant.gender }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">국가</div>
        <div class="detail-item-content">{{ applicant.nationality }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">생년월일</div>
        <div class="detail-item-content">{{ applicant.birth_year }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">키</div>
        <div class="detail-item-content">{{ applicant.height }}cm</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">몸무게</div>
        <div class="detail-item-content">{{ applicant.weight }}kg</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">가슴 size</div>
        <div class="detail-item-content">{{ applicant.chest }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">허리 size</div>
        <div class="detail-item-content">{{ applicant.waist }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">엉덩이 size</div>
        <div class="detail-item-content">{{ applicant.hips }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">사용가능 언어</div>
        <div class="detail-item-content">{{ applicant.languages }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">인스타그램 링크</div>
        <div class="detail-item-content"><a href="{{ applicant.instagram_link }}" target="_blank">{{ applicant.instagram_link }}</a></div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">인스타그램 아이디</div>
        <div class="detail-item-content">{{ applicant.instagram_id }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">지원일</div>
        <div class="detail-item-content">{{ applicant.application_date }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">지원일 순차</div>
        <div class="detail-item-content">{{ applicant.application_day }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">데이터 백업일</div>
        <div class="detail-item-content">{{ applicant.data_completion }}</div>
    </div>
    <div class="detail-item">
        <div class="detail-item-title">데이터 확인일자(매니저)</div>
        <div class="detail-item-content">{{ applicant.data_check }}</div>
    </div>
    <!-- 로그인, 회원가입 구현하면 IF함수 써서 담당자일때만 뜰 수 있도록 수정 -->
    <div class="my-3">
        <a href="{% url 'applicant:applicants' %}" class="btn btn-sm btn-outline-secondary">목록</a>
        <a href="{% url 'applicant:applicants_modify' applicant.id %}"
            class="btn btn-sm btn-outline-secondary">수정</a>
    </div>
</div>
</body>
</html>